.sidebar-collapse {
/*    background-color: #16154E !important; */
    background-color:  #7b524e !important;
   
}

body{
/*    background-color: #16154E !important;
      background-color: #9F48AE !important;*/
}
#wrapper{

     background-color:  #7b524e !important;

}

.nav > li.active {
    background: #d21241;
}

.nav-header{
    background: none;
}

.nav > li > a {
    color: #fff;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background: rgba(45, 42, 152, 0.28);
}

.nav > li.active {
    border-left: 4px solid #5351A8;
}

.profile-element span, .profile-element a{
    display: inline-block;
    
}

.profile-element img{
    width: 30px;
    height: auto;
}

.grey-bg-container{
    background-color: #ddd;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 15px;
}

body.mini-navbar .nav-header{
    background-color: #812990 !important;
}

.color_26247B {
    background-color: #26247B;
    color: #ffffff;
}

.color_674172 {
    background-color: #674172;
    color: #ffffff;
}

.color_9F48AE {
    background-color: #7b524e;
    color: #ffffff;
}

.color_947CB0 {
    background-color: #947CB0;
    color: #ffffff;
}




.nav-header img{
    max-width: 100%;
}

.nav-header{
    padding: 0px;
}


/*remove number input field arrow simbol*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select.input-sm{
    height: 34px !important;
}

/*add template css styles*/




/* iCheck plugin Square skin, green
----------------------------------- */
/*.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}*/

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

.ibox .checkbox {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 13px;
}

.grey-bg-box .col-lg-6{

    min-height: 290px;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 10px;
    border: 1px dashed #ddd;
    margin: 20px;
    width: 46%;
}

.create-pkg .checkbox input[type="checkbox"] {
    margin-left: 0px;
}

.total-quota li {
    float: left;
    list-style-type: none;
    padding-right: 35px;
    font-size: 15px;
    
}

.employee-type p{
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.user-type{
    padding-left: 0px;
}

.user-type li{
    float: left;
    list-style-type: none;
    padding-right: 60px;
}

.type{
    min-height: 307px;
}

.total-quota  select.input-sm.form-control{
    height: 25px;
    font-size: 13px;
    padding: 0 10px;
}

.total-quota li:last-child{
    padding-right: 0px;
}

.total-quota  {
    padding-left: 0px;
}

.total-quota .onoffswitch-inner::before, .onoffswitch-inner::after {
    line-height: 19px;
font-size: 13px;
    height: 20px;
}

.grey-bg-box .col-lg-6.sm-height {
    min-height: 180px;
}

.lbl-pd-left{
    padding-left: 0;
} 

.pd-left{
    padding-left: 0px;
}

.pd-right{
    padding-right: 0px;
}

.inline-list li{
/*    float: left;*/
    padding-right: 70px;
    list-style-type: none;
    border: 1px dashed #bababa;
margin-bottom: 6px;
border-radius: 3px;
padding-left: 11px;
padding-top: 3px;
}

.create-pkg .ibox-content{
    border-top: none;
}

.inline-list{
    margin-bottom: 0;
    padding-left: 0px;
}

.lbl-pd-right {
    padding-right: 0px;
}

.user-details{
    padding-left: 0px;
    margin: 10px;
}

.up-down li{
    float: left;
    list-style-type: none;
    padding-left: 20px;
}

.up-down{
    padding-left: 0px;
    margin-top: 5px;
}

.user-details li{
    float: left;
    list-style-type: none;
    padding-right: 30px;
    font-size: 18px;
}

.user-details.usage-details-infor{
    padding-left: 0;
    margin-left: 0px;
}

.user-details li span{
    font-weight: bold;
}
.grey-bg-box .col-lg-6 .ibox{
    margin-bottom: 0px;
}

.usage-details-infor{
    padding:15px 20px 20px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: 999!important;
  background: url(../../img/loading.gif) 50% 30% no-repeat rgba(245,245,245,0.89);
  background-size: 55px 55px;
}