/* ==========================================================================
   Login Box styles
   ========================================================================== */
  
/*Change Backgound image here */
 
body {
    background-image:url("./ciinnamon-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
html, body {
    height: 100%
}
.alert{
	margin: 20px auto;
	width: 70%;
}
#login-block{	 
	padding-top: 50px;
	padding-bottom: 25px;
}
#login-block h3{
	color: #FFF;
	text-align: center;
	font-size:1.7em; 
	font-weight: normal;
        margin-top: 5px; 
}

.preview__header {
    background-color: #232323;
    font-size: 12px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 1px;
    z-index: 100;
}

.login-box{
	max-width:315px;
        margin: 0 auto;
/*	background: transparent url(./login-bg-1.png) repeat;	 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 20px;
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);*/
		
}

.login-logo{
	 text-align: center;
	 padding: 15px 0 10px;
}

.login-logo img{
	border:0;
}
.login-form form p{
	width:80%;
	margin: 5px auto 10px;
	text-align: center;
	color:#FFF;
	text-shadow: 1px 1px 2px #000;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 5px;
}
 
.login-box hr{
	margin:10px auto 20px;
	width:80%;
	border-top: 1px solid rgba(119, 118, 118, 0.4);
border-bottom: 1px solid rgba(240, 240, 240, 0.4);
}

/* Login Form */
.login-form .form-control{
	display: block;
	margin:0 auto 15px;
	width:100%;
        height: auto;
	background: rgb(255, 255, 255); 
    background: rgba(255, 255, 255, 0.4);
	border:none;
	color:#6f2176;
        font-size: 1.2em;
	padding: 15px;
	
}
.login-form .form-control:focus{
        background: rgb(255, 255, 255); 
    background: rgba(255, 255, 255, 0.8);
}
.checkbox input{
    
}
 

/* Login Button */
.btn.btn-login {
	font-weight: bold;
	font-size: 1.1em;
	margin: 20px auto 20px;
        padding: 12px;
	display:block;
	color: white;
	text-transform:uppercase ;	
	background: #6f2176; 
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	
}
.btn.btn-login:hover {	 
	background: #510458; 
}
.checkbox{
    color: #FFF;
}
.btn.btn-reset{
	width: 180px;
}
.login-links{
	text-align: center;
	background: transparent;
	padding: 5px 0;
	-webkit-box-shadow: inset 1px 0 2px rgba(255, 255, 255, 0.59);
	-moz-box-shadow: inset 1px 0 2px rgba(255, 255, 255, 0.59);
	box-shadow: inset 1px 0 2px rgba(255, 255, 255, 0.59); 
}
.login-links a{
	color: #FFF; 
	display:inline-block;
	padding:5px;
	opacity:1; 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	text-shadow: 1px 1px 2px #000; 
}
.login-links a:hover{
	text-decoration: none;
	color:#FFF;
	opacity:1; 
	background: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

label.checkbox {
	width: 70%;
	display: block;
	margin: 0 auto;
	color: white; 
	text-shadow: 1px 1px 2px #000;
	background: rgba(0, 0, 0, 0.3);
	padding: 5px 25px;
	border-radius: 3px;
}
label.checkbox input{
	width:25px;
	margin: 4px 0 0;
	padding: 0;
	background: none;
	border: 0;
}
#footer-text, #footer-text a{
	text-align: center;
	color:#FFF;
	opacity: 1;
	text-shadow: 1px 1px 1px #000;
}

/* Social Login */
.social-login{
	margin:10px 0 5px;
}
.social-login .btn{ 
   text-align: center;
    margin: 5px auto;
    color:#FFF;
    text-shadow: 1px 1px 1px #333;
    width:90%
    -webkit-box-shadow:  0px 0px 10px #FFF;
	-moz-box-shadow:  0px 0px 10px #FFF;
	box-shadow: 0px 0px 10px #FFF;
}
 
.btn.btn-facebook {
	border: 1px solid #2D4479;
	-webkit-box-shadow: inset 0 1px 2px #5272BF, 0px 0px 15px #FFF;
	-moz-box-shadow: inset 0 1px 2px #5272bf, 0px 0px 15px #FFF;
	box-shadow: inset 0 1px 2px #5272BF, 0px 0px 15px #FFF;
	background: #385496;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4365B4),color-stop(100%,#385496));
	background-image: -webkit-linear-gradient(top,#4365B4,#385496);
	background-image: -moz-linear-gradient(top,#4365B4,#385496);
	background-image: -o-linear-gradient(top,#4365B4,#385496);
	background-image: linear-gradient(top,#4365B4,#385496);
	font-size: 12px;
}
.btn.btn-facebook:hover {
	background: #365293;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4365B4),color-stop(100%,#365293));
	background-image: -webkit-linear-gradient(top,#4365B4,#365293);
	background-image: -moz-linear-gradient(top,#4365B4,#365293);
	background-image: -o-linear-gradient(top,#4365B4,#365293);
	background-image: linear-gradient(top,#4365B4,#365293);
	-webkit-transition: box-shadow .05s ease-in-out;
	-moz-transition: box-shadow .05s ease-in-out;
	-o-transition: box-shadow .05s ease-in-out;
	transition: box-shadow .05s ease-in-out;
}

.btn.btn-twitter {
	border: 1px solid #2189FF;
	-webkit-box-shadow: inset 0 1px 2px #8DC2FF, 0px 0px 15px #FFF;
	-moz-box-shadow: inset 0 1px 2px #8dc2ff, 0px 0px 15px #FFF;
	box-shadow: inset 0 1px 2px #8DC2FF, 0px 0px 15px #FFF;
	background: #4A9EFF;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#73B4FF),color-stop(100%,#4A9EFF));
	background-image: -webkit-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: -moz-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: -o-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: linear-gradient(top,#73B4FF,#4A9EFF);
	font-size: 12px;
}

.btn.btn-twitter:hover {
	background: #459CFF;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#73B4FF),color-stop(100%,#459CFF));
	background-image: -webkit-linear-gradient(top,#73B4FF,#459CFF);
	background-image: -moz-linear-gradient(top,#73B4FF,#459CFF);
	background-image: -o-linear-gradient(top,#73B4FF,#459CFF);
	background-image: linear-gradient(top,#73B4FF,#459CFF);
	-webkit-transition: box-shadow .05s ease-in-out;
	-moz-transition: box-shadow .05s ease-in-out;
	-o-transition: box-shadow .05s ease-in-out;
	transition: box-shadow .05s ease-in-out;
}
.fb-login, .twit-login{
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}

 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	#login-block{	 
		padding-top: 10px;
		padding-bottom: 25px;
	}
	
}

/* Tablet Portrait Size to Tablet Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px){
	#login-block {	 
		margin: 0 auto;
		width: 420px;
	}
	
}



/*nx ===== 24-9-15==========================================*/
.header-wrap{
    min-height: 110px;
    padding: 10px 15px 5px;
    background: #FFF;
    border-bottom: 30px #6f2176 solid;
    font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.header-wrap h1{
    font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    font-size: 45px;
    color: #6f2176;
    font-style: italic;
}

.main-logo{
    float: right;
    max-height: 100px;
}

.form-control::-moz-placeholder {
  color: #6f2176;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6f2176;
}
.form-control::-webkit-input-placeholder {
  color: #6f2176;
}
.login-terms{
    color: #FFF;
}
.login-terms a{
    color: #FFF;
    text-decoration: underline;
}





@media only screen and (max-width: 480px) {
	.main-logo{	 
		float: none;
                margin: 0 auto;
	}
        .header-wrap h1{
            font-size: 24px;
            text-align: center;
        }
        html, body {
    height: auto
}
#login-block{
    padding-top: 15px;
    padding-bottom: 5px;
}
	
}
@media only screen and (min-width: 991px) {
.header-wrap h1{
    font-size: 55px;
}
}
